div#state {
    margin-top: 1em;
    border: 2px solid black;
    height: 20vh;
    width: 40vw;
    padding: 1.5em 1em 1em 1em;
}
div#state ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 40vw;
    margin: 0;
    padding: 0;
}

div#state li {
    display: inline;
}

div#card {
    border: 2px solid black;
    height: 20vh;
    width: 20vw;
    padding: 1.5em 1em 1em 1em;
    margin-top: 1em;
}

div#Main {
    border: 2px solid black;
    margin-top: 1em;
    width: 20vw;
    padding: 1.5em 1em 1em 1em;
    margin-top: 1em;
}

div h2 {
    position: absolute;
    width: 4em;
    border: 2px solid black;
    margin-top: -1.5em;
    padding-left: .5em;
    background-color: white;
}

button#drawButton {
    margin-top: 1em;
}

label {
    font-weight: bold;
}